<library path="src">
  <class name="Thrusters" type="uf_rqt_plugins.thrusterplugin.ThrusterPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Controls multiple thrusters through uf-ros-pkg/thruster_handling.
    </description>
    <qtgui>
      <group>
        <icon type="file">uf.ico</icon>
        <label>UF</label>
      </group>
      <label>Thrusters</label>
      <statustip>Control thrusters.</statustip>
    </qtgui>
  </class>
  <class name="Kill" type="uf_rqt_plugins.killplugin.KillPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Provides status information for uf-ros-pkg/kill_handling.
    </description>
    <qtgui>
      <group>
        <icon type="file">uf.ico</icon>
        <label>UF</label>
      </group>
      <label>Kill</label>
      <statustip>Provides kill status information.</statustip>
    </qtgui>
  </class>
  <class name="GPS" type="uf_rqt_plugins.gps.GPSPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
     Allows you to go to GPS waypoint
    </description>
    <qtgui>
      <group>
        <icon type="file">uf.ico</icon>
        <label>UF</label>
      </group>
      <label>GPS</label>
      <statustip>GPS Waypoints</statustip>
    </qtgui>
  </class>
</library>
