<library path="src">
  <class name="Thrusters" type="uf_rqt_plugins.thrusterplugin.ThrusterPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Controls multiple thrusters through uf-ros-pkg/thruster_handling.
    </description>
    <qtgui>
      <label>Thruster Plugin</label>
      <icon type="theme">system-help</icon>
      <statustip>Control thrusters.</statustip>
    </qtgui>
  </class>
  <class name="Kill" type="uf_rqt_plugins.killplugin.KillPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Provides status information for uf-ros-pkg/kill_handling.
    </description>
    <qtgui>
      <label>Kill Plugin</label>
      <icon type="theme">system-help</icon>
      <statustip>Provides kill status information.</statustip>
    </qtgui>
  </class>
</library>
