<launch>
  <arg name="camera"/>
  
  <node pkg="nodelet" type="nodelet" args="standalone legacy_vision/nodelet" name="$(arg camera)_legacy_vision">
    <remap from="camera" to="$(arg camera)"/>
    <remap from="find" to="find2_$(arg camera)"/>
    <rosparam>

bins:
    minContour: 1000
    maxContour: 50000
    maxPerimeter: 2000
pipe:
    Canny:
        thresh1: 50
        thresh2: 200
        apertureSize: 3
    Hough:
        rho: 1
        theta: 0.0087263
        thresh: 80
        minLineLength: 60
        minLineGap: 50
    minAngleDiff: 20
wreath:
    thresh:
        r: 246
        g: 108
        b: 51
        angle: 0.2

buoy:
    minContour: 250
    maxContour: 80000
    maxPerimeter: 2000
hedge:
    Canny:
        thresh1: 50
        thresh2: 200
        apertureSize: 3
    Hough:
        rho: 1
        theta: 0.0087263
        thresh: 100
        minLineLength: 120
        minLineGap: 50
    minAngleDiff: 20
shooter:
    red_hue: 0
    red_hue_range: 25
    red_sat_C: 20
    yellow_hue: 25
    yellow_hue_range: 10
    yellow_sat_C: 100
    green_hue: 70
    green_hue_range: 10
    green_sat_C: 130
    blue_hue: 130
    blue_hue_range: 20
    blue_sat_C: 30
    </rosparam>
    <param name="bins/imagePath" value="$(find legacy_vision)/data/bins"/>
  </node>
</launch>
