<launch>
  <arg name="id" default="0"/>
  
  <node pkg="nodelet" type="nodelet" name="ueye2_nodelets" args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="ueye2"
        args="load ueye2/UEyeNodelet ueye2_nodelets">
    <param name="id" value="$(arg id)"/>
    <param name="hbins" value="2"/>
    <param name="vbins" value="2"/>
    <param name="framerate" value="10"/>
  </node>
  <include file="$(find image_proc)/launch/image_proc.launch">
    <arg name="manager" value="ueye2_nodelets"/>
  </include>
</launch>

